*{
    margin:0;
    padding:0;
}
header nav{

}
header nav ul{
    list-style: none;
    font:1rem;
    display: flex;
    justify-content: space-between;
}
section{
    border: 2px black solid;
    padding: 1rem;
    margin: 10px auto;
}
@media (max-width: 520px){
    section{
        /* background-color:yellow; */
    }
    section h1{
        font-size: 3rem;
    }
    section h1 p{
        font-size: 2rem;
    }
}
/* landscape mode */
@media(orientation:landscape){
    section{
        background-color: aqua;
    }
    section h1{
        text-transform: uppercase;
    }
}
/* potrait */
@media(orientation:potrait){
    section{
        background-color: violet;
    }
    section h1{
        text-transform: uppercase;
    }
}